.redColor {
  color: darkred;
  font-weight: bold;
}

.greenColor {
  color: darkgreen;
  font-weight: bold;
}

.bgGreen {
  background-color: #f3fff3;
}

.bgRed {
  background-color: #fff5f5;
}

.bold {
  font-weight: bold;
}

.cell {
  width: 10rem;
}

.full-table-cell {
  padding: 0 !important;
}